---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -fuchsia-*,
        -llvmlibc-*,
        -modernize-use-trailing-return-type,
        -objc-*,
        -openmp-*,
        -bugprone-easily-swappable-parameters,
        -misc-include-cleaner,
        -cert-env33-c,
        -concurrency-mt-unsafe
"
WarningsAsErrors: ''
HeaderFilterRegex: '^(?!.*thirdparty).*'

